<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.forum.system.mapper.SysUserMapper">

    <sql id="defaultSysUserAll">
        SELECT id,
               dept_id,
               username,
               password,
               nick_name,
               avatar,
               gender,
               phone,
               status,
               remark,
               create_by,
               create_time,
               update_by,
               update_time
        FROM sys_user
    </sql>

    <!-- 查询用户 -->
    <select id="selectSysUserByUsernameOrPhone" resultType="SysUser">
        <include refid="defaultSysUserAll"/>
        <where>
            <if test="loginType == 'normal'">
                username = #{username}
            </if>
            <if test="loginType == 'sms'">
                phone = #{username}
            </if>
        </where>
    </select>
</mapper>