@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #316C72FF,
    ),
    'success': (
      'base': #18A058
    ),
    'warning': (
      'base': #F0A020
    ),
    'danger': (
      'base': #D03050
    ),
    'error': (
      'base': #D03050
    ),
    'info': (
      'base': #909399
    )
  ),
  $menu: (
    'item-height': 42px
  ),
  $tabs: (
    'header-height': 36px
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;

